/* Global */
img {
	max-width: 100%;
}
/*a:link {
	color: #f68f67;
	text-decoration: none;
}
a:hover {
	color: #bde2df;
	text-decoration: none;
}
a:visited {
	color: #f68f67;
	text-decoration: none;
}
*/

.title {
	position: relative;
}


#nav-title {
	visibility: hidden;
	float: left;
	font-size: 24px;
}

.is-sticky .title {
	font-size: 14px;
	padding: 11px 10px 9px;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3);
	display: block;
	line-height: 21px;
	margin: 0px;
	z-index: 100;
}

/* Navigation */
/*.menu {
	position: fixed;
	top:0px;
	width:100%; 
	height:auto;
	z-index:100;
	background-color: #fff;
	padding-bottom: 15px;
	/*border-bottom: 1px solid #eeeeee;*/
/*}*/
/*#nav {
	text-align: right;
	margin: 15px 0 0 0;	
}
.navigation{
	float: right;
	list-style: none;
	margin: 0;
}
.navigation li{
	float: left;
	padding:0 0 0 30px;
}
.navigation li:hover{
	cursor:pointer;
	color: #a9d3d0;
}

.navigation .active{
	cursor:pointer;
	color: #f68f67;
	font-weight:bold;
}*/

div#slide1, div#slide3{
	height: 100%;
	width: 100%;
	position: relative;
}

.project {
	padding-bottom: 10px;
}

.project .row .span4 h4,
.project .row .span8 h4 {
	margin: 0;
}

.project-position,
.pdate {
	font-style:italic; 
	font-size: 15px;
}
.project .row .span4 h4 a:hover{
	text-decoration: none;
}

.row {
	padding-top: 5px;
	padding-bottom: 5px;
}

.psectiontitle {
	font-weight: bold;
}

.navbar-inner, 
.navbar {
	background-color: #ffffff;
	background-image: none;
	background-repeat: no-repeat;
}

.navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 100;
    top: 0;
}

.page-header h4 {
	padding-left: 30px;
}

#pleaseprintwisely .page-header {
	margin-bottom: 0px;
}

